.direction {
  padding: 130px 0 100px;
}

.directionItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.directionItemContent {
  max-width: 486px;
  text-align: left;
}
.directionItemPreTitle {
  margin-bottom: 3px;
  font-size: 20px;
}

.directionItemTitle {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  margin-bottom: 22px;
}

.directionTitleSubtitle {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.directionItemTitleText,
.directionItemText {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

/*.direction__list {*/
/*  list-style: none;*/
/*}*/

/*.direction__list-item {*/
/*  padding-bottom: 30px;*/
/*  padding-left: 65px;*/
/*  position: relative;*/
/*}*/
/*.direction__list-item::before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 9px;*/
/*  left: 0;*/
/*  width: 35px;*/
/*  height: 35px;*/
/*  background-image: url(../images/chek.svg);*/
/*}*/