@import './assets/normalize.css';

body {
    background: linear-gradient(0deg,#fff,#d7e1ec 74%);
    color: #2D2E46;
    font-size: 16px;
    line-height: 24px;
    min-height: 100vh;
    font-weight: 400;
}

